<select
  [value]="value"
  [disabled]="disabled"
  [ngClass]="[
    'outline',
    'outline-1',
    'outline-gray-300',
    'hover:outline-blue-500',
    'focus:outline-blue-500',
    error ? 'outline-red-400 hover:outline-red-400' : '',
    'disabled:opacity-50 disabled:bg-gray-500',
    'transition',
    fullWidth ? 'max-w-[200px]' : '',
    class
  ]"
  (change)="onValueChange($event)"
  (blur)="onBlur()"
>
  <option *ngFor="let option of options" [value]="option.value" [selected]="option.value === value">
    {{ option.name }}
  </option>
</select>
