<button
  [ngClass]="[
    'flex flex-row justify-center items-center gap-3',
    'p-2',
    'transition',
    'w-full rounded-sm text-white text-center',
    fullWidth ? 'max-w-[200px]' : '',
    'disabled:opacity-60',
    error ? 'bg-red-400' : 'bg-blue-400 enabled:hover:bg-green-400',
  ]"
  [disabled]="disabled"
  [type]="type"
>
  <!-- Left Icon -->
  <div *ngIf="icon && iconPosition === 'left'" class="hidden sm:block">
    <ng-icon size="20" [svg]="icon"></ng-icon>
  </div>

  <!-- Button Text -->
  <div>{{ text }}</div>

  <!-- Right Icon -->
  <div *ngIf="icon && iconPosition === 'right'" class="hidden sm:block">
    <ng-icon size="20" [svg]="icon"></ng-icon>
  </div>
</button>