<div class="grid w-full h-screen place-items-center">
  <div
    class="m-5 rounded-md outline outline-2 outline-gray-300 max-w-[400px] w-full h-max flex flex-col items-center"
  >
    <div class="h-[100px] w-full bg-green-300 text-xl grid place-items-center">
      Insert Logo Here
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="relative flex flex-col w-full gap-5 px-5 py-10"
    >
      <div class="flex flex-col gap-2">
        <div>Email:</div>
        <div>
          <app-input
            id="email"
            type="email"
            email="true"
            formControlName="email"
          />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div>Password:</div>
        <div>
          <app-input id="password" type="password" formControlName="password" />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div>First Name:</div>
        <div>
          <app-input id="firstName" formControlName="firstName" />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div>Last Name:</div>
        <div>
          <app-input id="lastName" formControlName="lastName" />
        </div>
      </div>
      <app-button
        text="Register"
        [disabled]="registerForm.status !== 'VALID'"
      />
      <p
        class="absolute self-center font-semibold text-center text-red-400 bottom-2"
      >
        {{ error }}
      </p>
    </form>
  </div>
</div>
